<rmc deviceID="{{ARG2}}">
  <uid>{{UNIQUE_REQUEST_ID}}</uid>
  <deviceid>{{ARG2}}</deviceid>
  <id>example:{{UNIQUE_REQUEST_ID}}</id>
  <project>{{ARG3}}</project>
  <description>An Example of plugged XML</description>
</rmc>
